<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
   <body>
   <div th:replace="fragments/header :: header"/>
      <div class = "container">
      <form action="#" th:action="@{/updatePost}" th:object="${post}" method="post">
      <table class="table">
	      <thead class="thead-default">
	      <tr>   
	         <th class="col">Author</th>
	         <th class="col">Text</th>
	         <th class="col">Delete</th>
	      </tr>
	      </thead>		      
	      <tbody>
	      <th:block scope="row" th:each="post : ${postList}">
	      	 <tr>
	            <td th:text="${post.getUser().getName()}"></td>
	            <td th:text="${post.getText()}"></td>
	            <td>
	            	<input type="hidden" th:field="*{idPost}"/>
	            	<input type="hidden" th:field="*{user}"/>
	            	<input type="hidden" th:field="*{text}"/>
	            	<input type="hidden" th:field="*{idPost}"/>
              		<button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
	            </td>
	            
	            <!--<td><a th:href="|@{/deletePost/${post}}|" class="btn btn-danger">Delete</a></td>-->
	            
	            
	      
	            
	         </tr>	         
	      </th:block>
	      <tr>   
	         <td class="col">
	         	<!--<input type="text" class="form-control" th:field="*{id_post}" id="author" placeholder="Insert new author..."></input> -->
	         	<select class="form-control" th:field="*{user}" id="dropOperator">
				    <option value="0" text="Select a user" ></option>
				    <option th:each="user : ${userList}" th:value="${user.getId()}" th:text="${user.getName()}"></option>
				 </select>
	         </td>
	         
	         <td class="col">
	         	<input type="text" class="form-control" th:field="*{text}" placeholder="Insert new text..."/>
	         </td>
	      </tr>
	      
	      </tbody>
      </table>
      <input type="submit" class="btn btn-info" name="action" value="save">Save</input>
      </form>
      </div>     
<div th:replace="fragments/footer :: footer"/>

</body>
</html>
