<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
   <body>
   <div th:replace="fragments/header :: header"/>
      <div class = "container">
      <form action="#" th:action="@{/saveNewPost}" th:object="${post}" method="post">
      <table class="table">
	      <thead class="thead-default">
	      <tr>   
	         <th class="col">Author</th>
	         <th class="col">Text</th>
	      </tr>
	      </thead>		      
	      <tbody>
	      <th:block scope="row" th:each="post : ${postList}">
	      	 <tr>
	            <td th:text="${post.getUser().getName()}"></td>
	            <td th:text="${post.getText()}"></td>
	         </tr>	         
	      </th:block>
	      <tr>   
	         <td class="col">
	         	<input type="text" class="form-control" th:field="*{author}" id="author" placeholder="Insert new author..."></input>
	         </td>
	         <td class="col">
	         	<input type="text" class="form-control" th:field="*{text}" placeholder="Insert new text..."></input>
	         </td>
	      </tr>
	      
	      </tbody>
      </table>
      <input type="submit" class="btn btn-info" value="Save"></input>
      </form>
      </div>     
<div th:replace="fragments/footer :: footer"/>

</body>
</html>
